// Все цвета, используемые в проекте, должны быть тут.
// Ни в каких других файлах не должно быть цветов, указанных через #RGB (black(#000) и white(#fff) использовать можно).
// Только через зависимости от этих, например mix(colorEmp1, white).

colorEmp1 = #66ff00
colorEmp2 = #e30bea
colorEmp3 = #ffdd00

colorBg = #000000
colorBg1 = colorBg
colorBg2 = mix(colorBg, white, 95%)
colorBg3 = mix(colorBg, white, 90%)
colorBg4 = mix(colorBg, white, 85%)
colorBg5 = mix(colorBg, white, 80%)
colorBg6 = mix(colorBg, white, 75%)
colorBg7 = mix(colorBg, white, 70%)
colorBg8 = mix(colorBg, white, 65%)
colorBg9 = mix(colorBg, white, 60%)
colorBg10 = mix(colorBg, white, 55%)
colorBg11 = mix(colorBg, white, 50%)

colorText1 = #ffffff
colorText2 = mix(colorText1, black, 90%)
colorText3 = mix(colorText1, black, 80%)
colorText4 = mix(colorText1, black, 65%)
colorText5 = mix(colorText1, black, 50%)

colorTextDark1 = #1a1a1a
colorTextDark2 = mix(colorTextDark1, white, 90%)
colorTextDark3 = mix(colorTextDark1, white, 80%)
colorTextDark4 = mix(colorTextDark1, white, 65%)
colorTextDark5 = mix(colorTextDark1, white, 50%)

colorSuccess = #54f851
colorAlert = #ffd748
colorError = #ff5556

colorBorder = colorText1

borderRadiusL = 20px
borderRadiusM = 10px
borderRadiusS = 5px

mobile = unquote('max-width: 700px')
desktop = unquote('min-width: 701px')
